body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #ff1744;
color: white;
}

.encabezado {
  background: black url(../imagenes/carro.png) no-repeat right;
  display: flex;
  flex-wrap: wrap; 
  padding: 130px;
}

header {
 
  text-align: left;
    margin: 0;
    font-size: 50px;
    font-family:'Calistoga';
    
}


nav {
    display: flex;
    justify-content: center;
    background-color: #000;
  
}

nav a {
    color: white;
    margin: 0 40px;
    text-decoration: none;
    font-size: 23px;
}

nav a:hover {
    text-decoration: underline;

}

.portada  {
  background: url(../imagenes/Artistas.png) no-repeat center;
  background-size: cover;

text-align: center;
min-height: 400px;
padding-top: 60px;

}



.portada p{
    font-size: 20px;
    background-color: black;
    
}


main {
    padding: 20px;
    text-align: center;
}
h2 {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
    
}


#mapa img {
    width: 80%;
    max-width: 600px;
   
}


footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}




/* --- responsive --- */

@media (max-width: 992px) {

  
  .encabezado {
    flex-direction: column;
    text-align: center;
  }

 
  
  nav {
    flex-direction: column;
    align-items: center;
   
  }

  nav a {
    display: block;
    margin: 8px 0;
    font-size: 18px;
  }

  
  .portada {
    flex-direction: column;
    height: auto;
 
  }

 

  main {
    padding: 15px;
    text-align: center;
  }

  #mapa img {
    width: 100%;
    height: auto;
  }

  footer {
    font-size: 13px;
    padding: 10px;
  }
}
@media (min-width: 1200px) {

  
  .encabezado {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .encabezado h1 {
    font-size: 42px;
    margin: 0 20px;
  }

  
  
  nav {
    flex-direction: row;
    justify-content: center;
    
  }

  nav a {
    font-size: 22px;
    margin: 0 20px;
  }


  .portada {
   
    align-items: center;
    justify-content: center;
  }

  
  #mapa img {
    width: 80%;
    max-width: 800px;
  }

  footer {
    font-size: 14px;
    padding: 20px;
  }
}